@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  background-color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
  font-family:'Open Sans';
  font-weight: 300;
}
td {
  line-height: 20px;
  height:40px;
  line-height: 20px;
  padding:10px 0;
  vertical-align: middle;
}
.col1 {
  width:60%;
}
.col2 {
  width:30%;
  text-align: center;
}
h1 {
  font-family:'Open Sans';
  font-weight: 300;
  font-size: 24px;
}
h2 {
  font-family:'Open Sans';
  font-weight: 600;
  font-size: 28px;
}
h3 {
  font-family:'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color:#7f7f7f;
}
h4 {
  font-family:'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
h5 {
  font-family:'Open Sans';
  font-weight: 600;
  font-size:18px;
  color:#888;
}
a {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
table a {
  color: #000;
}
p.article-title {
  font-family:'Open Sans';
  font-weight: 600;
  font-size: 18px;
  margin-bottom:10px;
}
p.article-body {
  font-family:'Open Sans';
  font-weight: 400;
  font-size: 16px;
}
p.article-body span.body-bold {
  font-weight: 600;
}
p.useful-text {
  font-family:'Open Sans';
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
header {
  z-index: 1;
}

.outer-container{
  margin: 0 auto;
  border: 1px solid #d8d8d8;
  min-width: 1024px;
}
/*.outer-container{
  width:1350px;
  margin: 0 auto;
  border: 1px solid #d8d8d8;
}*/
.contentsContainer {
  position:relative;
  z-index: 0;
  min-width: 1024px;
}
.DashboardContainer-header img {
  padding:30px;
  background-color: #fff;
}
.DashboardContainer-header {
  position: relative;
  top:0;
  height:100px;
  width:100%;
  color: white;
  -webkit-box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.3);
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}
.right-col-inner {
  position:relative;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
}
.inner-left {
  position:relative;
  display: inline-block;
  height:100%;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  top:0;
  left:0;
  min-height:760px;
}
.inner-left > * {
  margin-bottom:20px;
}
.left-col, .right-col {
  display: inline-block;
  vertical-align: top;
  background-color: aqua;
  min-height: 800px;
}
.left-col {
  box-sizing: border-box;
  padding: 40px 0 0 40px;
  width:380px;
  background-color: #fff;
}
.right-col {
  box-sizing: border-box;
  padding: 40px;
  width:644px;
  height:100%;
  background-color: #eeeeee;
}
.abcContainer {
  margin:55px 0 45px 0;
}
.abcContainer > * {
  display: inline-block;
  vertical-align: middle;
  color: #444444;
}
.abc {
  margin-right:20px;
}




.left-data-col, .right-data-col {
  display:inline-block;
  vertical-align: top;
}
.left-data-col {
  margin:0 24px 0 0;
}
.left-data-col h3, .right-data-col h4 {
  margin:0 0 24px 0;
}


.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  display: table-cell;
  padding: 10px 0;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.react-datepicker__input-container input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #e9e9e9;
    border: 1px solid #aeaeae;
    border-top-color: rgb(174, 174, 174);
    border-right-color: rgb(174, 174, 174);
    border-bottom-color: rgb(174, 174, 174);
    border-left-color: rgb(174, 174, 174);
    line-height: 16px;
    padding: 6px 10px 5px;
    max-width: 75px;
}




.right-nav {
  position: absolute;
  bottom: 70px;
  left: 730px;
  background-color: #7f7f7f;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}
.right-nav li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 17px;
  box-sizing: border-box;
}
.right-nav li a.active {
  display:none;
}


.donut-container {
  position:relative;
  text-align: center;
  width:160px;
  height:160px;
}
.donut-container h5 {
  margin-bottom:20px;
}
.line-chart-container h5 {
  margin-bottom:20px;
}
.left-articles-container h5 {
  margin-bottom:20px;
}
.donut-text-container {
  position: absolute;
  width:160px;
  top: 105px;
  text-align: center;
}
.donut-text {
  margin:0 auto;
  font-weight: 600;
  color:#4be944;
}
.donut-green-arrow {
  margin-top:10px;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 80px;
  height: 80px;
  border-right: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  box-sizing: border-box;
}
.bubble-container {
  position: relative;
  height:280px;
  /* z-index: 2; */
}
.grid-container {
  position:absolute;
  width:200px;
  height:200px;
}

.line-chart-container {
  position: relative;
}
.line-chart-container h3 {
  margin-bottom: 25px;
}
.left-articles-container {
  position: relative;
  top: 90px;
}
.left-articles {
  position: relative;
  width: 628px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px;
  max-height: 260px;
  overflow: scroll;
}
.article-vote > * {
  display: inline-block;
  vertical-align: middle;
  margin: 25px 5px 25px 5px;
}
.like, .dislike {
  cursor: pointer;
}
.login-container {
  float: right;
  margin:40px 40px 0 0;
}
.login-container input, .login-container select {
  margin:0 10px 0 10px;
}
.login-container select, .login-container input {
  display:inline-block;
  vertical-align: middle;
}
.date-label {
  display:inline-block;
  margin-right:10px;
}
.date-picker-container {
  position: relative;
}
.bar-chart {
  position: relative;
  width:100%;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-sizing: border-box;
  padding:30px;
  margin-bottom: 100px;
}
.bubble-chart {
  position: relative;
  width:100%;
  height:280px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-sizing: border-box;
}

.line-chart {
  position: relative;
  height:280px;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  box-sizing: border-box;
  width:100%;
}

@media only screen and (min-width: 1024px) {
  .outer-container{
    width:1024px;
  }
  .right-col {
    width:644px;
  }
  .bar-chart {
    position: relative;
    width: 100%;
  }
  .date-picker-container {
    position: relative;
    top:0;
    left:0;
  }
  .bubble-chart {
    width:100%;
  }
  .line-chart {
    width:100%;
  }
}
@media only screen and (min-width: 1200px) {
  .outer-container{
    width:1200px;
  }
  .right-col {
    width:820px;
  }
  .bar-chart {
    position: absolute;
    top:95px;
    right:50px;
    width: 45%;
    max-height: 580px;
    overflow-y: scroll;
  }
  .bubble-chart {
    width:45%;
  }
  .date-picker-container {
    position: absolute;
    top:50px;
    left: 538px;
  }
  .line-chart {
    width:45%;
  }
}
@media only screen and (min-width: 1350px) {
  .outer-container{
    width:1350px;
  }
  .right-col {
    width:970px;
  }
  .date-picker-container {
    position: absolute;
    top:50px;
    left: 438px;
  }
}